body {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    flex-direction: row;
    height: 2px;
    border: 2px solid;
    align-items: center;
    padding: 35px 20px;
}

.left-box {
    width: 200px;
    margin-right: 70px;
    display: flex;
    flex-direction: row;
}

.hamburger {
    margin-right: 20px;
}


.hamburger img {
    height: 20px;
}

.right-box {
    background-color: blueviolet;
    width: 300px;
}

.search-box-container {
    flex: 1;
    margin-right: 70px;
    display: flex;
    justify-content: center;
    height: 40px;
    
}

.search-box1 {
    display: flex;
    align-items: center;
}

.input-box1 input {
    height: 40px;
    width: 568px;
    border-radius: 100px 0px 0px 100px;
    padding: 5px;
    box-sizing: border-box;
    border: 0;
    box-shadow: 0px 0px 1px;
}

.button-box1 img {
    height: 24px;
    
}

.button-box1 {
    background-color: #EFEFEF;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    border-radius: 0px 100px 100px 0px;
    box-shadow: 0px 0px 1px;
    box-sizing: border-box;
    margin-right: 20px;
}

.button-box1:hover {
    background-color: #e5e5e5;
}

.mic-box img {
    height: 24px;
}

.mic-box {
    background-color: #F2F2F2;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    border-radius: 50px;
    box-sizing: border-box;
}

.mic-box:hover {
    background-color: #e5e5e5;
}

.logo img {
    height: 22px;
}

.right-box {
    display: flex;
    justify-content: end;
}

